.App{
  background-color: #1A1B20;
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.profile-pic{
  width:100%;

}
main{
  text-align: center;
}
h1{
  font-size: 2.5rem;
  color: white;
  margin-bottom: 0;
}
h2{
  font-weight: lighter;
  font-size: 1.5rem;
  margin-top: 0;
  color: darkorange;
}
h3{
  color: darkorange;
}
#boutons {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  gap: 1rem;
}

#Email{
  background-color: white;
  font-size: 1.2rem;
  padding: 0.7rem;
  border-radius: 0.6rem;
}
#LinkedIn{
  background-color: #0A66C2;
  color: white;
  font-size: 1.2rem;
  padding: 0.7rem;
  border-radius: 0.6rem;
}
.description{
    color: white;
  padding: 0 1.5rem 0 1.5rem;
}
ul.colored-bullets {
  list-style: none;
}

ul.colored-bullets li::before {
  content: "• ";
  color: darkorange;
}

Footer{
  background-color: lightslategray;
  display: flex;
  justify-content: space-around;
}
.logo {
  max-width: 60px;
  height: auto;
  padding: 1rem;
}


/* Desktop size css*/
@media (min-width: 768px) {
  .profile-pic {
    width: 30%;
    height: auto;
    margin: 0 auto;
  }

  #boutons {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  gap: 1rem;
}
  #Email{
    background-color: white;
    font-size: 4.2rem;
    padding: 1.7rem;
    border-radius: 1rem;
  }
  #LinkedIn{
    background-color: #0A66C2;
    color: white;
    font-size: 4.2rem;
    padding: 1.7rem;
    border-radius: 1rem;
  }

  h1 {
    font-size: 6rem;
  }

  h2 {
    font-size: 4rem;
  }
  h3{
    color: darkorange;

  }

  .description {
    text-align: center;
    font-size: 4rem;
    padding: 2rem;
  }
  .description p {
margin: 0 auto;
    padding: 0 2rem;
  }

  Footer {
    justify-content: center; /* Adjust the footer layout */
  }

  .logo {
    max-width: 200px; /* Larger logos for desktop */
  }
}